@import url('https://fonts.googleapis.com/css?family=Quicksand|Lato:300');

* {
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: Lato, sans-serif;
    color: #000000;
    background-color: #eec170;
    font-display: swap;
}

/* headings and logo */

h1, h2 {
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #013220;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#logo, #menu {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #f58549;
}

.active {
    border-bottom: 1px solid #772F1A;
}

/* Hero image */

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero3.webp') no-repeat center center;
}

/* Welcome */

#welcome {
    margin: 20px 0;
    text-align: justify;
    font-size: 26px;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    padding: 25px;
}

/* Resources */

#resources {
    height: 500px;
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
}

#resources > h2 {
    font-size: 39px;
    padding-bottom: 25px;
    margin: 0 auto;
}

#resources a:link, a:visited {
    background-color: white;
    color: #013220;
    border: 2px solid #013220;
    border-radius: 25px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
#resources a:hover, a:active {
    background-color: #f58549;
    color: white;
    border-radius: 25px;
  }

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #f58549;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading p {
    text-align: right;
}

.right-about-heading h2 {
    text-align: right;
}

/* Resources center image */

#circle-container {
    width: 350px;
    height: 350px;
    padding: 30px;
    border-style: solid;
    border-color: #013220;
    border-width: 1px;
    border-radius: 75%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/resources2.webp') no-repeat center center;
    height: 100%;
    border-radius: 75%;
}

/* Newsletter */

#newsletter {
    clear: left;
    background: url('../images/newsletter.webp');
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 25px;
}

.newsletter {
    color: #013220;
    background-color: #f58549;
    max-width: 400px;
    max-height: fit-content;
    position: relative;
    padding: 25px;
    border-radius: 25px;
    margin: 0 auto;
}

.newsletter > h2 {
    color: #013220;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #013220;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #013220;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #ffffff;
}

.submit {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #013220;
    color: #fafafa;
    display: block;
}

.submit:hover {
    background-color: #fafafa;
    color: #f58549;
}

/* footer */

footer {
    height: 50px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #013220;
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #resources {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    #left-about, #right-about {
        width:100%;
        float:left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){

    #menu {
        clear: left;
        float: left;
        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left:0px;
    }

    #resources {
        width:90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px 0 20px;
    }
}